  <link rel="stylesheet" href="/javascripts/lib/google-code-prettify/prettify.css" />
  <link rel="stylesheet" href="/javascripts/lib/cleditor/jquery.cleditor.css" />
</head>
<body>

<%- include shared/_header %>

<div class="container" id="main">
</div>

<%- include shared/_footer %>

<script>
var posts = <%- JSON.stringify(posts) %>;
</script>
<% if (session && session.user) { %>
<script>
var user = <%- JSON.stringify(session.user) %>;
</script>
<% } %>
<script>
var isFeedbacks = true;
</script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/posts.js"></script>

